.photo-single-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 2s ease;
  z-index: 2;

  &.full-opacity {
    opacity: 0;
  }

  .image-wrapper {
    max-width: 80%;
    max-height: 80%;
    padding: 1em;
    background-color: white;
    position: relative;
    cursor: initial;
    border-radius: 3px;
    min-width: 30%;
    min-height: 30%;
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
    top: -1000px;

    &.visible {
      transform: scaleY(1);
      top: 0;
    }

    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 100%;
      background-color: white;
      width: 2em;
      height: 2em;
      font-size: 1em;
      text-align: center;
      line-height: 2.2em;
      color: #535353;
      transition: color 0.4s ease;
      cursor: pointer;


      &:hover {
        color: #000;
      }
    }

    img {
      max-width: 80vw;
      max-height: 80vh;
      opacity: 1;
      transition: opacity 2s ease;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}
