<div [perfectScrollbar] (psYReachEnd)="handlePsYReachEnd()" class="photo-grid-component">
  <div *ngIf="userSelected?.name" class="user-single">
    <div class="user-avatar">
      <img [attr.src]="userSelected?.profile_image?.large">
    </div>
    <div class="user-description">
      <div class="user-name">{{ userSelected?.name }} <sup class="icon-deselect" (click)="handleDeselect()">✕</sup></div>
      <div class="user-username"><a [attr.href]="userSelected?.links?.html">@{{ userSelected?.username }}</a></div>
    </div>
  </div>
  <div *ngIf="!userSelected?.name" class="init-header">
    <h1>Unsplash Demo</h1>
    <div class="text-grey">Beautiful, free photos.</div>
    <div class="text-grey">Gifted by the world’s most generous community of photographers. 🎁</div>
  </div>
  <div class="photo-loops-wrapper">
    <div class="photo-loop" *ngFor="let photosCollection of photosTransformed">
      <div *ngFor="let photo of photosCollection.photos" class="photo-item">
        <div class="image-wrapper">
          <img [ngStyle]="{backgroundImage: 'url(' + photo?.urls?.thumb + ')'}" [attr.src]="photo?.urls?.small">
          <div class="photo-hover" (click)="handlePhotoClick($event, photo)">
              <div class="image-likes-wrapper">
                <div class="image-likes-text"><span class="icon-heart">❤</span> {{photo?.likes}}</div>
              </div>
              <div class="image-download-wrapper">
                <div class="image-download-text" (click)="handleDownloadClicked(photo)">↘</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!photos?.length" class="inform-message">
    There is no photos... yet
  </div>
</div>

<router-outlet (activate)="handleActivate($event)"></router-outlet>
