<div  class="user-list-component">

  <app-search (queryChanged)="handleQueryChanged($event)"></app-search>

  <div class="users-list" [perfectScrollbar] (psYReachEnd)="handlePsYReachEnd()">

    <div *ngFor="let user of users" (click)="handleUserClick(user)" class="user-single {{userSelected === user ? 'selected' : ''}}">

      <div class="user-avatar">
        <img [attr.src]="user?.profile_image?.medium">
      </div>
      <div class="user-description">
        <div class="user-name">{{ user?.name }}</div>
        <div class="user-username">@{{ user?.username }}</div>
      </div>
    </div>

    <div *ngIf="!users?.length" class="inform-message">
      There is no users... yet
    </div>
  </div>

</div>
