:host {
  max-width: 50em;
  min-width: 25em;
}

.user-list-component {

  height: calc(100% - 1em);
  padding: 1em 1em 0;

  .users-list {

    max-height: calc(100% - 5em);
    position: relative;
    min-width: 200px;
  }
}

