.component-search {
  height: 4em;
  padding-top: 1em;

  input {
    font-size: 1.3em;
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-bottom-color: #b3b3b3;
    transition: border-color 0.4s ease, box-shadow 0.4s ease;
    color: #131315;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.06);
    border-radius: 1px;

    &:focus {
      border-bottom-color: #7f7f7f;
      outline: none;
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.09);
    }
  }
}
